#MainSlider {
  padding-top: 100px;
  padding-bottom: 50px;
}
.main-slider-title {
  font-size: 35px;
}
.header {
  height: 90px;
}

.main-slider-intro-container {
  margin-bottom: 50px;
}
.main-slider-phone {
  margin-right: 150px;
  font-size: 1.5rem;
}
.main-slider-call {
  margin-right: 150px;
  font-size: 1.2rem;
}

.slider-main-text-overflow {
  padding-bottom: 0;
}
