@import "tabs";
@import "sliders";
@import "header";

.footer-menu {
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.footer-menu-item {
  justify-content: center;
  align-items: center;
}
.footer--item {
  margin: auto;
}
.laptop {
  display: none;
}
.mobile {
  //display: auto;
}
.section-header-post {
  padding: 15px 0 15px 0;
  margin: 0;
}

.header-post {
  height: 80px;
  padding-top: 15px;
}
