@font-face {
  font-display: swap;
  font-family: "Stem";
  src: url(Stem-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Stem";
  src: url(Stem-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Stem";
  src: url(Stem-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
