a {
  color: #000000;
  text-decoration: none;
}
.link-text {
  //
}
.btn {
  display: flex;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
}
.btn-form {
  background-color: $colorPrimaryV2;
  color: $colorWhite;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  padding: 20px 50px;

  &:hover {
    background-color: $colorPrimaryV2Pres;
  }
}

.btn-float {
  background: $colorPrimary;
  padding: 10px;
  height: 75px;
  width: 75px;
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  * {
    color: $colorWhite;
  }
  &:hover {
    background: $colorPrimaryPres;
  }
}

.btn-nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 7px;
  border: 1px solid #dee2ed;
}

.btn-link {
  &.color-primary {
    &:hover {
      color: $colorPrimaryPres;
    }
  }
}

.btn-intro {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 30px;
  background-color: $colorPrimaryV2;
  &:hover {
    background-color: $colorPrimaryV2Pres;
  }
}
.btn-intro--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  flex-grow: 1;
  padding-right: 10px;
}

.btn-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 200ms;
  z-index: 1;

  font-size: 1rem;

  &:hover {
    opacity: 1;
    .btn--animated {
      box-shadow: rgba(0, 0, 0, 1);
      &::before {
        transform: scaleX(1);
      }
      &::after {
        transform: scaleX(1);
      }
    }
  }
  a,
  button,
  span {
    color: $colorWhite;
  }
}

.btn--animated {
  padding: 0.5rem 0;
  line-height: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0);
  transition: all ease-in 300ms;
  transition-delay: 100ms;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    left: 0;
    width: 100%;
    background: $colorWhite;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 750ms;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: $colorWhite;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 750ms;
  }
}

.btn-link-primary-v2 {
  transition: all 200ms;
  color: $colorPrimaryV2;
  &:hover {
    color: $colorPrimaryV2Pres;
  }
}
