.card-prem {
  display: flex;
  flex-direction: column;
}
.card-prem--img {
  max-width: 100%;
  height: auto;
}
.card-prem--title {
  color: $colorSecondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 20px 0 10px 0;
  padding: 0;
}
.card-prem--desc {
  box-sizing: border-box;
  color: $colorSecondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.card-prem-2 {
  display: flex;
}

.card-prem-picture {
  padding: 5px;
  margin-right: 25px;
  margin-bottom: 25px;
  color: $colorDanger;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prem--img {
  // height: 75px;
  // width: 75px;
  object-fit: contain;
  color: $colorDanger;
}

/* Car */
.card-cat {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 150px;
  //border: 1px solid #e8e8e8;
  &:hover {
    .card-cat--img {
      transform: scale(1.25);
    }
  }

  a {
    margin: 1px;
    background-color: #ffffff;
  }
}

.card-cat--img {
  max-width: 50%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  transition: all 300ms;
  transform: scale(1);
}
.card-cat--title {
  font-size: 20px;
  color: #717171;
  font-weight: 500;
}

.card-cat--link-stretched {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-prem-picture-v3 {
  display: flex;
  flex-direction: column;
  text-align: center;

  .card-cat--title {
    margin-top: 1rem;
  }
}
.card-diff {
  //
}
.card-diff--img {
  //
}
.card-diff--title {
  color: $colorSecondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  padding: 0 0 20px 0;
}
.card-diff--desc {
  color: $colorSecondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px 0;
  padding: 0;
}

.card-instagram {
  //
}
.card-instagram-item {
  position: relative;
  padding: 5px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
.card-instagram--photo {
  //
}

.card-instagram-after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.card-instagram--img {
  height: auto;
  width: 100%;
  object-fit: contain;
}
