.floating {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  margin: 0 50px 50px 0;
  transition: all 200ms;
  transform: translateX(0);
  z-index: 1000;
  &.fade {
    transform: translateX(200px);
  }
  &:hover {
    .floating-text {
      opacity: 1;
      transform: translateX(-125px) scaleX(100%);
    }
  }
}

.floating-call {
  .floating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #1a1a1c;
    height: 75px;
    padding: 0 25px;

    color: $colorWhite;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.5;
    z-index: 1;
    opacity: 0;
    transform: translateX(0) scaleX(0);
    transition: all 300ms;
    &::after {
      content: " ";
      position: absolute;
      right: 0;
      height: 24px;
      width: 24px;
      background-color: #1a1a1c;
      transform: translateX(12px) rotate(45deg);
    }
  }

  .floating-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 64px;
    width: 64px;
    animation: 1s linear 2s infinite running anim_floating_icon;
  }
  .floating-svg {
    position: absolute;
    &.fade {
      opacity: 0;
    }
  }

  .floating button {
    &:hover {
      .svg-envelope {
        opacity: 0;
      }
      .svg-envelope-fill {
        opacity: 1;
      }
    }
  }
}

.floating-whatsapp {
  margin-bottom: 125px;
  .btn-float {
    background-color: transparent;
  }
  .floating-icon {
    img {
      height: 64px;
      width: 64px;
    }
    &:hover,
    &:target {
      img {
        transform: scale(1.2);
        transition: all 300ms;
      }
    }
  }
}

@media (max-width: 768px) {
  .floating {
    margin: 25px;
  }
}

@keyframes anim_floating_icon {
  0%,
  50% {
    //transform: rotate(0deg);
    transform: translateX(0);
  }
  60%,
  80% {
    transform: translateX(2px);
  }
  70%,
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: rotate(0deg);
  }
}
