.form {
  position: relative;
}
input[type="text"].form-control,
input[type="email"].form-control,
input[type="tel"].form-control {
  display: flex;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 1px 2px 10px 2px;
  margin: 10px 0;

  font-size: 16px;
  width: 100%;
}
textarea.form-control {
  display: flex;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 1px 2px 10px 2px;
  margin: 20px 0;

  font-size: 16px;
  width: 100%;
}

.form-more {
  box-sizing: border-box;
  color: $colorLightSecondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  padding-left: 15px;
  padding-right: 15px;
}

.form-status--img {
  display: none;
  height: 128px;
  width: 128px;
  object-fit: cover;
  margin: auto;
  padding: 0;
  &.show {
    display: block;
  }
}

.form-status {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $colorWhite;
}

.form-status--text {
  margin: 0;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}
.form-status--img-success {
  //background-color: $colorSuccess;
}
.form-status--img-error {
  //background-color: $colorDanger;
}

.form-success {
  .form-status {
    display: flex;
  }
  .form-status--text {
    color: $colorSuccess;
  }
  .form-status--img-success {
    display: block;
  }
  .form-status--img-error {
    display: none;
  }
}
.form-error {
  .form-status {
    display: flex;
  }
  .form-status--text {
    color: $colorDanger;
  }
  .form-status--img-success {
    display: none;
  }
  .form-status--img-error {
    display: block;
  }
}
