#Header {
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 119px;
  background: #fff;
  z-index: 100;
  transition: all 500ms;
}
.row-address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 1;
  height: 25px;
}

.header-logo {
  height: auto;
  max-width: 100%;
}

.nav-header {
  //
}

.header-menu {
  position: relative;
}

.header-post {
  background-color: $colorForm;
  padding: 8px 0;
  height: 36px;
}
.header-post--back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile {
  display: none;
  padding: 5px 0;
}

// Mobile

@media (max-width: 768px) {
  .header-laptop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}

.header-mini {
  height: 52px;
  box-shadow: 0px 1px 5px 1px rgba($color: #000000, $alpha: 0.5);

  .row-address {
    display: none;
  }
  .nav-item-logo {
    a {
      // margin: -20px 0;
    }
    .logo-header {
      height: 32px;
    }
  }
}
