.free-list {
  box-sizing: border-box;
  color: $colorSecondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 0px;
}
.free-list--item {
  box-sizing: border-box;
  color: $colorSecondary;
  counter-increment: stage 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-top: 30px;
  position: relative;
  &::before {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: $colorPrimary;
    content: counter(stage);
    flex-wrap: nowrap;
    font-size: 40px;
    font-weight: 500;
    height: 35px;
    left: -45px;
    line-height: 60px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: absolute;
    top: 0px;
    width: 30px;
  }
}

.list {
  color: $colorSecondary;
  margin-top: 0px;
  margin: 0 0 16px 0;
}
.list-item {
  color: $colorPrimaryV2;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0;
  &::before {
    color: $colorPrimaryV2;
    content: "— ";
    font-size: 16px;
    font-weight: 500;
    left: -5px;
    line-height: 24px;
    list-style: none;
  }
}
