.body-modal {
  position: static;
  overflow: hidden;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
  transition: all 200ms;

  &.fade {
    opacity: 0;
    .modal-dialog {
      transform: translateX(110%);
    }
  }
  &.show {
    opacity: 1;
    z-index: 1050;
    .modal-dialog {
      transform: translateX(0);
    }
  }
}

.modal-dialog {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
  height: 100%;
  background-color: $colorWhite;
  transition: all 200ms;

  //
}
.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-body {
  display: flex;
  justify-content: stretch;
  align-items: center;
  position: relative;
  margin: 40px;
  padding: 50px 0;
  height: 100vh;
}
.modal-close {
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  overflow: visible;
  background: none;
  text-align: center;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  transition: all 200ms;

  &:hover {
    opacity: 1;
  }
}

.modal-title {
  box-sizing: border-box;
  color: $colorSecondary;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  padding: 0 0 30px 0;
  pointer-events: auto;
}
.modal-desc {
  box-sizing: border-box;
  color: $colorSecondary;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  padding: 0 0 30px 0;
  pointer-events: auto;
}
.modal-info {
  box-sizing: border-box;
  color: $colorLightSecondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  padding: 27px 0 0 0;
}
