.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: flex;
  list-style: none;
  color: $colorSecondary;
}

.nav-link {
  position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 200ms;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $colorBlack;
    transition: all 400ms;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.nav-top {
  justify-content: space-between;
  * {
    font-size: 14px;
  }
}

.nav-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 25px;
  width: 100%;
  height: 100%;
  background-color: $colorWhite;
  z-index: 100;

  transform: translateX(-100%);

  transition: all 300ms;
  &.active {
    transform: translateX(0);
  }
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  .nav-item {
    width: 100%;
    padding-bottom: 1.3rem;
  }
  .nav-link {
    font-size: 1.5rem;
    width: 100%;
    padding: 0.2rem 0;
  }
  .nav-modal-open {
    color: $colorDanger;
  }
}
.nav-mobile-more {
  display: flex;
  flex-direction: column;
}

.nav-mobile-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  opacity: 0.5;
  transition: all 300ms;
  &:hover {
    opacity: 1;
  }
}
