.section {
  padding: 40px 0;
}

.section-info {
  position: relative;
}
.section-info-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 40px;
  padding-top: 0px;
}
.section-info-desc {
  color: $colorSecondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.section-info-link {
  background-color: rgba(0, 0, 0, 0);
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
}
.section-info-post {
  display: flex;
  flex-direction: column;
}
.section-info-post--title {
  color: $colorSecondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 0;
}
.section-info-post--desc {
  color: $colorSecondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 30px 0;
  padding: 0;
}

.section-free {
  padding: 0;
  background-color: #ffffff;
}
.section-free-stand {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-free--title {
  box-sizing: border-box;
  color: $colorSecondary;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  margin: 0;
  padding: 0 0 20px 0;
}

.section-free--desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.section-free-post {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 40px 60px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $colorWhite;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 15px 0 0 0;
    padding: 0 0 15px 0;
  }
  P {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 16px 0;
  }
}

.section-contact--item {
  color: $colorBlack;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.section-contact--phone {
  //
}
.section-contact--mail {
  color: $colorPrimary;

  text-decoration: underline $colorPrimary;
  text-decoration-color: $colorPrimary;
}
.section-contact--address {
  //
}
.section-contact--label {
  box-sizing: border-box;
  color: rgb(186, 186, 186);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.section-form {
  background-attachment: scroll, scroll;
  background-clip: border-box, border-box;
  background-color: $colorWhite;
  background-origin: padding-box, padding-box;
  background-position: 100% 100%, 0% 0%;
  background-position-x: 100%, 0%;
  background-position-y: 100%, 0%;
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

.section-header-post {
  padding: 51px 0 15px 0;
  margin: 0;
}

.section-banner {
  position: relative;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 500px 0 50px 0;
  background-position: center bottom;
}

.img-banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}

.section-post-plus {
  margin: 0;
  padding: 0;
  background-color: $colorDark;
}
.post-picture-more {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.section-price {
  background-color: $colorPrimary;
  background-image: url("../img/section-price.jpg");
  color: $colorWhite;
}

.section-about-row {
  min-height: 390px;
}

.section-separation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  //background-image: url("../img/slide-04.jpg");
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 768px) {
    height: 150px;
  }
}
.section-separation-title {
  font-size: 5rem;
}

.section-instagram {
  //
}
.widget-instagram {
  //
}
.widget-instagram-profile {
  //
}
.widget-instagram-feed {
  display: flex;
}
