#MainSlider {
  background-image: url("../img/slide-03.jpg");
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 125px;

  height: 100vh;
  * {
    color: #ffffff;
  }
}

.main-slider {
  display: flex;
}

.main-slider-intro {
  display: flex;
}

.main-slider-intro--title {
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.main-slider-intro-g {
  width: 50px;
  position: relative;
  overflow: hidden;
  &::before {
    //content: "";
    position: absolute;
    top: 0;
    border-bottom-color: $colorDanger;
    border-bottom-style: solid;
    border-bottom-width: 112px;
    border-left-color: $colorDanger;
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 50px;
  }
}

.main-slider-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 54px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 25px;
  padding-top: 0px;
  text-transform: uppercase;
}
.main-slider-phone {
  box-sizing: border-box;
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  //padding-top: 30px;
}
.main-slider-call {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section-main-slider {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.slider-main {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.slider-main-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  transition: all 3000ms ease-in-out;
  transform: translateX(0);
  z-index: -1;
}
.slider-main-slide {
  position: relative;
  height: 100%;
  min-width: 100vw;
  width: 1000vw;
  transition: all 2000ms;
}
.slider-main--cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-main-text-overflow {
  display: flex;
  flex-direction: column;
  justify-content: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 150px;
}

/* Слайдер - Строительные компании */
.slider-zascat-container {
  position: relative;
}

.slider-zascat {
  margin: 0 30px;
}
.slider-zascat-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 10px;
  height: 225px;
}
.slider-zascat-slide-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  color: $colorWhite;
}
.slider-zascat-slide--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.slider-zascat-slide--logo {
  position: absolute;
  top: 20px;
  left: 20px;
  object-fit: contain;
  width: 120px;
  height: auto;
  z-index: 2;
}
.slider-zascat-slide--title {
  padding: 0;
  margin: 0;
  text-align: center;
}
.slider-zascat-slide--desc {
  padding: 0;
  margin: 0;
  text-align: center;
}
.slider-zascat-slide--link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  z-index: 15;
}

.slider--prev-next {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  top: 75%;
  padding: 20px 10px;
  width: 100px;
  height: 100px;
  background-color: $colorPrimary;
  transition: all 200ms;
  transform: translateY(-75%);
  cursor: pointer;
  &:hover {
    background-color: $colorPrimaryPres;
  }
}

.slider--prev {
  @extend .slider--prev-next;
  left: 0;
}
.slider--next {
  @extend .slider--prev-next;
  justify-content: flex-end;
  right: 0;
}

.slider-structures {
  //
}
.slider-structures-slide {
  display: flex;
  flex-direction: column;
  height: 350px;
}
.slider-structures--img {
  margin: auto;
}
.slider-structures--title {
  margin: 0 100px;
  line-height: 1.2;
  text-align: center;
}

// Адаптив

@media (max-width: 768px) {
  .slider-zascat {
    margin: 0 10px;
  }

  .slider--prev {
    display: none;
  }
  .slider--next {
    display: none;
  }
}

/* Слайдер - Каталог жилых комплексов */
.slider-complexes-container {
  position: relative;
}
.slider-complexes {
  margin: 0 50px;
}
.slider-complexes-slide {
  overflow: hidden;
}
.slider-complexes--prev,
.slider-complexes--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
