.tab {
  display: flex;
  flex-direction: column;
}
.tab-nav {
  display: flex;
  justify-content: stretch;

  margin: 0 0 35px 0;
  padding: 0;
  list-style-image: none;
  box-sizing: border-box;
}
.tab-nav-item {
  display: flex;
  flex-grow: 1;
  margin-bottom: 14px;
  list-style: none;

  &:first-child {
    .tab-nav-link {
      margin: 0;
    }
  }
  &:last-child {
    .tab-nav-link {
      border-right: none;
    }
  }
}

.tab-nav-link {
  border-top-width: 1px;
  color: $colorSecondary;
  font-size: 16px;
  list-style: none;
  padding: 8px 16px;
  margin-left: -1px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(203, 203, 203);
  border-right: 1px solid rgb(203, 203, 203);

  &.active {
    background-color: $colorPrimaryV2;
    color: $colorWhite;
    border-color: $colorPrimaryV2;
  }
}

.tab-content {
  display: flex;
  position: relative;
  height: 250px;
  overflow: hidden;
}

.tab-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: all 300ms;

  &.fade {
    opacity: 0;
  }
  &.show {
    opacity: 1;
  }
  &.active {
    z-index: 10;
  }
}
