.bg-primary {
  background-color: $colorPrimary;
  color: $colorWhite;
}

.color-secondary {
  color: $colorSecondary;
}
.color-primary {
  color: $colorPrimary;
}
.color-primary-v2 {
  color: $colorPrimaryV2;
}

.background-primary {
  background-color: $colorPrimary;
  * {
    color: $colorWhite;
  }
}

.color-danger {
  color: $colorDanger;
}
.color-white {
  color: $colorWhite;
}
.color-black {
  color: $colorBlack;
}
.color-light-secondary {
  color: $colorLightSecondary;
}
.color-light {
  color: $colorLight;
}

.color-dark {
  color: $colorDark;
}
.background-dark {
  background-color: $colorDark;
  * {
    color: $colorWhite;
  }
}

.color-form {
  color: $colorForm;
}
.background-form {
  background-color: $colorForm;
  color: $colorDark;
}
