/*********** Заголовки ***********/
h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  margin: 0;
  padding: 5px 0 0 0;
}
h2 {
  color: $colorSecondary;
  font-size: 45px;
  font-weight: 500;
  line-height: 54px;
  margin: 0;
  padding: 0 0 40px 0;
}
h3 {
  color: $colorSecondary;
  font-size: 35px;
  font-weight: 500;
  line-height: 54px;
  margin: 0;
  padding: 0 0 30px 0;
}
h4 {
  color: $colorSecondary;
  font-size: 25px;
  font-weight: 500;
  line-height: 54px;
  margin: 0;
  padding: 0 0 20px 0;
}

/*********** Надписи ***********/
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
) !default;

@each $num, $size in $display-font-sizes {
  .display-#{$num} {
    font-size: $size;
    font-weight: 300;
    overflow-wrap: anywhere;
  }
}

.title-price {
  font-size: 35px;
}

.st {
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #ffffff30;
  border-radius: 4px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.post-content {
  white-space: pre-line;
}

.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  /*********** Надписи ***********/
  $display-font-sizes-mobile: (
    1: 2.25rem,
    2: 2rem,
    3: 1.8rem,
    4: 1.7rem,
    5: 1.5rem,
    6: 1.5rem,
  ) !default;

  @each $num, $size in $display-font-sizes-mobile {
    .display-#{$num} {
      font-size: $size;
      font-weight: 300;
    }
  }
}
