$colorBody: #f2f2f8;
$colorSecondary: rgb(33, 37, 41);

$colorPrimary: #2196f3;
$colorPrimaryPres: #1783db;

$colorPrimaryV2: #60ba4d;
$colorPrimaryV2Pres: #408831;

$colorPrimaryV2: #df0024;
$colorPrimaryV2Pres: #ab001c;

$colorDanger: #f44336;
$colorDangerPress: #cc0000;
$colorSuccess: #4caf50;

$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorLightSecondary: rgb(186, 186, 186);

$colorLight: rgb(117, 117, 118);
//$colorLight2: rgb(242, 242, 249);
$colorDark: rgb(26, 26, 28);

$colorForm: #ffffff;

$colorTop: #f2f2f9;
