.add-company-address {
  color: #00a0d2;
  cursor: pointer;
}

.company-address-list .item-address {
  display: flex;
  align-items: center;
}

.company-address-list .item-address input {
  width: 100%;
  max-width: 400px;
}

.remove-company-address {
  color: brown;
  cursor: pointer;
}

.list-admin-layouts {
  display: flex;
  flex-direction: column;
}
.list-admin-layouts-item {
  display: flex;
  flex-grow: 1;
}
.list-admin-layouts-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-admin-layouts-input {
  width: 100%;
}

.button-console {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 3px 15px;
}

.button-remove {
  background-color: #b32d2e !important;
  border-color: #b32d2e !important;
  color: #ffffff !important;
}

.table-layouts-schemes-controls {
  display: flex;
  .button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 0.25rem !important;
    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }
  }
}
