.debug-d {
  position: relative;
  background: #ffffff;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  min-height: 50px;

  &::before {
    content: "Отладка";
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
    padding: 3px;
    opacity: 0.25;
  }
}

@import "variables";
@import "typography";

html,
body {
  font-family: "Stem" !important;
}
body {
  background-color: $colorBody;
  box-sizing: border-box;
  color: $colorSecondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.relative {
  position: relative !important;
}

.footer {
  background-color: rgb(26, 26, 28);
  color: $colorWhite;
  padding: 60px 0;
}
.footer-info {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 40px 0 0 0;
}
.footer--item {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Stem";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 10px 0 0 0;
}

.footer-menu-container {
  //
}
.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: $colorLight;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu-item {
  display: flex;
  flex-basis: 50%;
  color: $colorLight;
  list-style: none;
  padding: 0 0 15px 0;
}
.footer-menu--link {
  display: flex;
  position: relative;
  color: $colorWhite;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $colorWhite;
    transition: all 400ms;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 9px;
  background-color: $colorWhite;

  &:hover {
    .footer-social--img {
      transform: scale(1.2);
    }
  }
}
.footer-social--img {
  height: 24px;
  width: 24px;
  object-fit: contain;
  transition: all 300ms;
}
@import "header";
@import "nav";
@import "forms";
@import "buttons";
@import "sections";
@import "sliders";
@import "cards";
@import "tabs";
@import "lists";
@import "modals";
@import "templates";

@import "floating";

.svg-envelope-fill {
  opacity: 0;
}
.img-info-line {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.builder-logo {
  width: auto;
  max-width: 100%;
  height: 33px;
  object-fit: contain;
}

.logo {
  object-fit: contain;
  height: auto;
  max-height: 100%;
  width: 125px;
}
.logo-header {
  height: 64px;
  transition: all 300ms;
}
.logo-header-mobile {
  max-height: 42px;
}

.logo-footer {
  height: 128px;
  object-fit: contain;
}

.ver-line {
  border-right: 1px solid #00000020;
}

.laptop {
  //
}
.mobile {
  // display: none;
}

.lightzoom-close {
  display: flex !important;
  height: auto !important;
  width: auto !important;
  color: white !important;
  transition: all 200ms;
}

.img-icon {
  height: 48px;
  width: 48px;
  object-fit: contain;
}
.img-icon-24 {
  @extend .img-icon;
  height: 24px;
  width: 24px;
}
.img-icon-36 {
  @extend .img-icon;
  height: 36px;
  width: 36px;
}

hr {
  display: block;
  border: none;
  border-bottom: 1px solid #00000020;
  margin: 3rem 0;
}

.h-100 {
  height: 100% !important;
}

@media (max-width: 768px) {
  @import "responsive/style";
}

@media (min-width: 768px) {
  @import "responsive/style-min";
}

.w-100 {
  width: 100% !important;
}
